body {
    background-color:rgb(255, 0, 0);
    }
    .style {
        font-family:Verdana, Geneva, Tahoma, sans-serif;
    }
    #css {
     font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     color: rgb(21, 255, 0);
    }